fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic==2.6.4

langchain==0.2.1
langchain-core==0.2.1
langchain-huggingface==0.0.3
langgraph==0.2.14

huggingface-hub>=0.23.0

ddgs==1.0.9

requests>=2.31.0
urllib3>=2.0.0

python-dotenv==1.0.1